/* General Styles */
body {
  font-family: "Fredoka One", sans-serif;
  direction: rtl;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  position: relative;
}

title {
  display: block;
  position: absolute;
  font-size: 10em;
  width: 100%;
  text-align: center;
}

.slide {
  display: none;
  height: 100vh;
}

.slide.active {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 5em;
  margin-bottom: 20px;
  margin-top: 0;
  display: none;
}

h2 {
  font-size: 2.5em;
  margin-top: 0px;
}

button {
  color: white;
  padding: 10px 20px;
  font-size: 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10em;
}

button.show {
  background-color: #4caf50;
}

button.show:hover {
  background-color: #45a049;
}

.navigation {
  text-align: center;
  position: absolute;
  bottom: 1em;
  width: 100%;
}

button.prev,
button.next {
  background-color: #2196f3;
}

button.prev:hover,
button.next:hover {
  background-color: #1976d2;
}
